.step {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: var(--bg);
  height: 112px;
  width: 100%;
}

.footer {
  padding: 38px 32px 55px 80px;
}

.next {
  width: 100%
}
