:root {
  --fg: #373006;
  --bg: #ffffff;
  --bg-panel: #eaeaea;
  --border: #eaeaea;
  --shadow: rgba(0, 0, 0, 0.3);
  --svg: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #e0dccf;
    --bg: #181818;
    --bg-panel: #101010;
    --border: #101010;
    --shadow: rgba(0, 0, 0, 0.8);
    --svg: 0f0e0b;
  }
}

/*
 * Reset and few general rules
 */

* {
  margin: 0;
  text-wrap: balance;
  box-sizing: border-box;
}

body {
  color: var(--fg);
  background: var(--bg-panel);
  font-family: Nunito, serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 16px;
  font-weight: 650;
}

input {
  font: inherit;
}

button {
  border: none;
}

@media (prefers-color-scheme: dark) {
  input {
    color-scheme: dark;
  }
}

/*
 * Utility classes
 */

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}
